<connectionStrings>
      <add name="DefaultConnection" 
           connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Website-9b6abd20-9c90-47f9-bcec-cfc005077817;AttachDbFilename=|DataDirectory|\aspnet-Website-9b6abd20-9c90-47f9-bcec-cfc005077817.mdf;Integrated Security=SSPI" 
           providerName="System.Data.SqlClient" />
      <add name="NWDB"
           connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
           providerName="System.Data.SqlClient"/>
</connectionStrings>
